.home {
    &__content {
        display: flex;
        margin-left: 100px;

        &-info {

            p {
                margin-left: 10px;
                margin-bottom: 20px;
                font-size: 18px;
            }
        }

        &>img {
            width: 150px;
            height: 200px;
        }
    }
}